.background {
  background-image: url("./background.jpeg");
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
  overflow: hidden;
}

* {
  user-select: none;
  margin: 0;
  padding: 0;
}

a,
a:active,
a:hover,
a:visited {
  color: inherit;
}

.heading {
  padding-top: 3%;
  font-size: 36px;
  font-family: 'Roboto Slab';
  text-align: center;

  p {
    font-size: 20px;
  }
}

.img-responsive {
  max-width: 100%;
  height: auto;
  min-height: 412px;
  transition: all 0.5s ease;
}
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
$color-1: #0f9bc3; //blue
$color-2: #22419a; //dark blue
$color-3: #57ccfd; //light blue
$color-4: #e660e3; //pink-purple
$color-5: #f47b20; //orange
$color-6: #9b1308; //dark red

.cards-collection {
  position: relative;
  display: block;
  font-family: 'Roboto Slab', sans-serif;
  overflow: hidden;
  padding: 4px;
  text-align: center;

  .cards {
    position: relative;
    width: 300px;
    height: 400px;
    display: inline-block;
    border-radius: 14px;
    overflow: hidden;
    margin: 5px;

    &:hover {
      .img-responsive {
        transform: translateY(-12px);
      }
    }

    img,
    p,
    span,
    ul {
      position: absolute;
    }

    .img-responsive {
      position: relative;
    }

    ul {
      list-style: none;

      li {
        font-size: 16px;
      }
    }

    p {
      font-size: 20px;
    }
  }

  .card-1 {
    .drip {
      width: 344px;
      height: 70%;
      top: -250px;
      left: 0;
      transition: 0.5s ease-out;
    }

    .splat {
      width: 380px;
      top: 305px;
      right: -26px;
      opacity: 0.8;
      transform: scale(0);
      transition: 0.5s ease-out;
    }

    p {
      top: 85%;
      right: 14%;
      left: 14%;
      width: 216px;
      line-height: 24px;
      color: #fff;
      transform: scale(0);
      transition: 0.5s ease;
      transition-delay: 0.1s;
    }

    ul.left,
    ul.right {
      display: inline-block;
      top: 100%;
      color: white;

      li {
        margin: 4px;
        transition: all 0.4s ease;

        &:nth-child(1) {
          transition-delay: 0.2s;
        }

        &:nth-child(2) {
          transition-delay: 0.3s;
        }
      }
    }

    ul.left {
      left: 7%;
    }

    ul.right {
      right: 8%;
    }

    &:hover {
      .drip {
        top: -28px;
      }

      .splat,
      p {
        transform: scale(1);
      }

      ul.left,
      ul.right {
        li {
          transform: translateY(-62px);
        }
      }
    }
  }

  .card-2 {
    .circle {
      width: 180px;
      height: 180px;
      background: $color-6;
      opacity: 0.8;
      border-radius: 50%;
      border: 10px solid white;
      top: -18%;
      left: 62%;
      transform: scale(0);
      transition: 0.5s ease;
    }

    .rectangle {
      width: 220px;
      height: 100px;
      background: #fff;
      opacity: 0.9;
      top: 74%;
      left: -90%;
      transform: skewX(-20deg);
      transition: 0.5s ease;
    }

    .rectangle-shadow {
      width: 220px;
      height: 100px;
      background: $color-1;
      top: -10%;
      left: -8%;
      transition: 0.5s ease;
      transition-delay: 0.2s;
    }

    .rectangle-2 {
      width: 90px;
      height: 70px;
      background: #fff;
      opacity: 0.9;
      right: -50%;
      top: 60%;
      transform: skewX(-20deg);
      transition: 0.5s ease;
    }

    .rectangle-shadow-2 {
      width: 90px;
      height: 70px;
      background: $color-5;
      top: -8%;
      right: 8%;
      transition: 0.5s ease;
      transition-delay: 0.2s;
    }

    p {
      top: 79%;
      left: -70%;
      width: 200px;
      color: #fff;
      transition: 0.5s ease;
    }

    ul {
      top: 1%;
      left: 71%;
      width: 80px;

      li {
        display: inline-block;
        margin: 8px;
        color: #fff;
        transition: all 0.2s ease;
        transform: scale(0);

        &:nth-child(1) {
          transition-delay: 0.1s;
        }

        &:nth-child(2) {
          transition-delay: 0.2s;
        }

        &:nth-child(3) {
          transition-delay: 0.3s;
        }

        &:nth-child(4) {
          transition-delay: 0.4s;
        }
      }
    }

    &:hover {
      .circle {
        transform: scale(1);
      }

      .rectangle {
        left: 10%;
      }

      .rectangle-shadow {
        left: -5%;
      }

      .rectangle-2 {
        right: 2%;
      }

      p {
        left: 10%;
      }

      li {
        transform: scale(1);
      }
    }
  }

  .card-3 {
    .fire-flare {
      top: 100%;
      left: -17%;
      transition: 0.5s ease;
      z-index: 0;
    }

    .fire-border {
      top: -3%;
      left: -3%;
      z-index: 1;
      transform: scale(1.3);
      transition: 0.5s ease;
    }

    p {
      top: 104%;
      left: 10%;
      right: 10%;
      color: white;
      background: $color-5;
      transition: 0.5s ease;
    }

    ul {
      top: 140%;
      right: 25%;
      transition: 0.4s ease;
      z-index: 2;

      li {
        display: inline-block;
        margin: 4px;
        color: #fff;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: $color-5;
        text-align: center;
        line-height: 1.7rem;
        font-size: 12px;
      }
    }

    &:hover {
      .fire-flare {
        top: 70%;
      }

      .fire-border {
        transform: scale(1);
      }

      p {
        top: 84%;
      }

      ul {
        top: 91.5%;
      }
    }
  }

  .card-4 {
    .surfboard {
      width: 300px;
      top: 70%;
      left: -200%;
      transform: rotateZ(-10deg);
      z-index: 2;
    }

    .surf-wave {
      width: 320px;
      top: 48%;
      left: -200%;
      z-index: 1;
    }

    p {
      top: 76%;
      left: -200%;
      width: 220px;
      transform: skewY(-10deg);
      z-index: 3;
    }

    ul {
      top: 83%;
      left: -200%;
      padding: 0;
      z-index: 2;
      transform: skewY(-10deg);

      li {
        display: inline-block;
        margin: 4px;
        color: $color-2;
        text-align: center;
      }
    }

    .surf-wave,
    .surfboard,
    p,
    ul {
      transition: 0.6s ease-out;
    }

    &:hover {
      .surf-wave,
      .surfboard {
        left: 0;
      }

      p {
        left: 13%;
      }

      ul {
        left: 39%;
      }
    }
  }

  .card-5 {
    .flower-border {
      top: -9%;
      left: -5%;
      width: 324px;
      transform: scale(1.6);
      transition: 0.5s ease;
    }

    .flower-frame {
      top: 100%;
      left: -10%;
      width: 360px;
      height: 199px;
      transition: 0.5s ease;
    }

    p {
      top: 100%;
      left: 21%;
      line-height: 24px;
      width: 176px;
      transition: 0.5s ease;
    }

    ul.left,
    ul.right {
      display: inline-block;
      top: 100%;
      color: $color-4;

      li {
        margin: 4px;
        transition: all 0.4s ease;

        &:nth-child(1) {
          transition-delay: 0.2s;
        }

        &:nth-child(2) {
          transition-delay: 0.3s;
        }
      }
    }

    ul.left {
      left: 15%;
    }

    ul.right {
      right: 15%;
    }

    &:hover {
      .flower-border {
        transform: scale(1);
      }

      .flower-frame {
        top: 64.7%;
      }

      ul.left,
      ul.right {
        li {
          transform: translateY(-70px);
        }
      }

      p {
        top: 83.5%;
      }
    }
  }

  .card-6 {
    .plate-right {
      top: 75%;
      right: -40%;
      transition: 0.5s ease;
    }

    .plate-left {
      top: 75%;
      left: -40%;
      transition: 0.5s ease;
    }

    .right-corner {
      width: 140px;
      height: 55px;
      background-image: url("./metal.png");
      top: 2%;
      left: 122%;
      transform: rotate(55deg);
      transition: 0.5s ease;
    }

    .left-corner {
      width: 140px;
      height: 55px;
      background-image: url("./metal.png");
      top: 2%;
      right: 122%;
      transform: rotate(-55deg);
      transition: 0.5s ease;
    }

    p {
      top: 80%;
      right: 15%;
      left: 15%;
      color: white;
      transform: scale(0);
      transition: 0.5s ease;
    }

    ul {
      top: 86%;
      left: 20%;
      right: 20%;
      transform: scale(0);
      transition: 0.5s ease;

      li {
        display: inline-block;
        margin: 7px;
        color: $color-2;
      }
    }

    &:hover {
      .plate-right {
        right: 12%;
      }

      .plate-left {
        left: 12%;
      }

      .right-corner {
        left: 72%;
      }

      .left-corner {
        right: 72%;
      }

      p {
        transform: scale(1);
      }

      ul {
        transform: scale(1);
      }
    }
  }

  .card-7 {
    .triangle-1 {
      top: 58%;
      left: -150%;
      border-top: 170px solid transparent;
      border-left: 460px solid #fff;
      opacity: 0.8;
      transition: 0.4s ease;

      &::before {
        content: '';
        position: absolute;
        top: -172px;
        left: -530px;
        border-top: 170px solid transparent;
        border-left: 460px solid $color-1;
        opacity: 0.8;
        transition: 0.4s ease;
        transition-delay: 0.2s;
      }
    }

    .triangle-2 {
      top: 0;
      right: -166%;
      border-bottom: 100px solid transparent;
      border-right: 260px solid #fff;
      opacity: 0.8;
      transition: 0.4s ease;

      &::before {
        content: '';
        position: absolute;
        border-bottom: 100px solid transparent;
        border-right: 260px solid $color-2;
        right: -320px;
        transition: 0.4s ease;
        transition-delay: 0.2s;
      }
    }

    p {
      top: 81%;
      color: white;
      width: 85%;
      text-align: left;
      padding-left: 5%;
      left: -120%;
      transition: 0.4s ease;
    }

    ul {
      top: 100%;
      left: 3%;
      padding: 0;

      li {
        display: inline-block;
        margin: 8px;
        color: #fff;
        transition: all 0.2s ease;

        &:nth-child(1) {
          transition-delay: 0.1s;
        }

        &:nth-child(2) {
          transition-delay: 0.2s;
        }

        &:nth-child(3) {
          transition-delay: 0.3s;
        }

        &:nth-child(4) {
          transition-delay: 0.4s;
        }
      }
    }

    &:hover {
      .triangle-1 {
        left: 0;

        &::before {
          left: -500px;
        }
      }

      .triangle-2 {
        right: -16%;

        &::before {
          right: -290px;
        }
      }

      p {
        left: 0;
      }

      li {
        transform: translateY(-46px);
      }
    }
  }

  .card-8 {
    .smoke-frame {
      width: 300px;
      top: 0;
      left: 0;
      transform: scale(1.5);
      transition: 0.5s ease;
    }

    .smoke-left {
      top: -5%;
      left: -34%;
      transform: rotateY(180deg);
      transition: 0.5s ease;
    }

    .smoke-right {
      top: -5%;
      right: -34%;
      transition: 0.5s ease;
    }

    .dark-flare {
      top: 71%;
      left: 0;
      width: 0;
      height: 142px;
      transition: 0.5s ease;
    }

    p {
      top: 79%;
      right: 10%;
      width: 228px;
      color: #fff;
      transform: scale(0);
      transition: 0.4s ease;
    }

    ul {
      top: 86%;
      right: 31%;
      transition: 0.4s ease;
      z-index: 2;

      li {
        display: inline-block;
        margin: 4px;
        color: #fff;
        width: 25px;
        transform: scale(0);
        transition: all 0.2s ease;

        &:nth-child(1) {
          transition-delay: 0.1s;
        }

        &:nth-child(2) {
          transition-delay: 0.2s;
        }

        &:nth-child(3) {
          transition-delay: 0.3s;
        }
      }
    }

    &:hover {
      .smoke-left {
        left: -4%;
      }

      .smoke-right {
        right: -4%;
      }

      .dark-flare {
        width: 327px;
      }

      .smoke-frame,
      li,
      p {
        transform: scale(1);
      }
    }
  }
}
